<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DBconnectionString" connectionString ="
         Server=LAPTOP-ASPIRE5\SQLEXPRESS;
         Database=T4DDBMonitoring;
         Trusted_Connection=True;
         TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
    <add name="DBconnectionString_Techsol" connectionString ="Server=MONITORINGTS\SQLEXPRESS;
         Database=T4DDBMonitoring;
         Trusted_Connection=True;
         TrustServerCertificate=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>



  <appSettings>

    <!--Software license expires 20261201 -->
    <add key = "LicenseCode" value = "GxYJDg0eaGxraGpr" />

    <!-- Yes/No -->
    <add key="freezeScreen" value="No" />
    <add key="SendEmails" value="No" />

    
    <!-- SMS settings -->
    <add key="SMSTitle" value="SIS010" />
    <add key="RecipientPhone1" value="+4917672997904" />

    <!-- Project settings -->
    <add key="ProjectTitle" value="SIS-010_York" />
    <add key="ContractTitle" value="SIS010_York" />
    <add key="AlarmWindowHrs" value="1" />
    <add key="NoOfSuccessfulReadings" value="10"/>
    <add key="dailyStatusReportTime" value="19:00"/>

    <!-- Log Folders -->
    <add key="SystemStatusFolder" value="C:\__SystemLogs\Test\" />
    <add key="SystemAlarmsFolder" value="C:\__SystemAlarms\Test\" />
    
    

    <!-- ATS details -->
    <add key="ATSdetails1" value="YRK_ATS01,0,0,0,m12021247,YRK_C01,YRK_C02,YRK_C03,YRK_C04,YRK_C07,YRK_C01A" />
    <add key="ATSdetails2" value="YRK_ATS02,0,0,0,m13523306,YRK_C02,YRK_C03,YRK_C04,YRK_C07" />
    <add key="ATSdetails3" value="YRK_ATS03,0,0,0,m10822261,YRK_C03,YRK_C04,YRK_C05,YRK_C06,YRK_C07" />
    <add key="ATSdetails4" value="YRK_ATS04,0,0,0,m13523224,YRK_C04A,YRK_C05,YRK_C06,YRK_C08" />
    <add key="ATSdetails5" value="YRK_ATS05,0,0,0,m10822135,YRK_C05,YRK_C06,YRK_C08,YRK_C09" />

    <!-- Excel settings-->
    <add key="ExcelPath" value="C:\__SoftwareTest\AlarmStateWatchdog\" />
    <add key="ExcelFile" value="SIS010_York_dataFlow_master.xlsx" />
    <add key="FirstDataRow" value="2" />
    <add key="SurveyWorksheet" value="Survey" />
    
    <!-- eMail settings -->

    <add key="emailTransmission" value="All" /><!-- All, Monday,Tuesday etc -->
    <add key="EmailFrom1" value="techsol.monitoring@gmail.com" />
    <add key="EmailLogin1" value="techsol.monitoring@gmail.com" />
    <add key="EmailPassword1" value="fpfltllkmfdjglmh" />
    <add key="EmailRecipients1" value="robmerry@techsol.ie, gna.geomatics@gmail.com" />
    <add key="emailMessage1" value="This is an automated embankment displacement report issued by the monitoring system. Please do not reply to this email." />
    <add key="EPPlus:ExcelPackage.LicenseContext1" value="Commercial" />


    <add key="EmailFrom" value="GNA" />
    <add key="EmailLogin" value="GNA" />
    <add key="EmailPassword" value="GNA" />
    <add key="EmailRecipients" value="gnajag2025@gmail.com" />
    
    
    
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />

  </appSettings>
  
</configuration>